body{
  color: black;
  background-color: #6E6E6E;
}

p.one {
	color: #FFBF00;
 }

p.two {
  color: #0101DF;
 }

ul.navbar {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 150px;
}

ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #007FFF;
  border-top: 1px solid #7FFF00;
  border-left: 10px solid #007FFF;
  border-bottom: 1px solid #7FFF00;
}

ul.navbar a {
  text-decoration: none
}

a:link {
  color: white;
}

a:visited {
  color: black;
}